.header {
    display: flex;
    justify-content: space-around;
  }
  .footer {
      padding-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .flexExpand {
    flex: 1 1 auto;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .paperStatus {
      background-color: lightgray;
      max-height: 200px;
      overflow: auto;
  }

  .toggleColors .MuiToggleButtonGroup-root{
    padding: 5x;
  }

  .toggleColors .MuiToggleButtonGroup-grouped{
    color: transparent;
    width: 80px;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    height: 30px;
  }

  