.root {
    flex-grow: 1;
    padding-top: 10px;
}

.paper {
    text-align: center;
    padding: 2;
}

.contact-main-screen {
    display: flex;
    flex-direction: column;
    height: 80vh !important;
}

.contact-module {
    display: flex !important; 
    flex-direction: column;
}