.graph-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.graph-body{
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
}

.graph-select{
    margin-left: 5px;
}

.graph-body .wide{
    flex: 1;
    width: 70%;
}

.graph-body .narrow{
    width: 30%;
}

.hidden{
    display: none !important;
}