.dialogEventsDay .MuiDialog-paperWidthSm {
    width: 400px;
}
.eventsDayContent {
    margin-top: -24px;
}
.eventsday-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eventsday-table{
    max-height: 360px;
    overflow-y: auto !important;
    border-radius: 10px !important;
}
.eventsday-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
.eventsday-table tr {
    background-color: #F2F2F2;
}
.eventsday-table .eventsgrid {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "leftr1 rightr1 bt1"
        "leftr2 rightr2 bt2";
    grid-template-columns: 45% 45% 10%;
    align-items: center;
}
.eventsgrid>.name {
    grid-area: leftr1;
}
.eventsgrid>.date {
    grid-area: rightr1;
    text-align: right;
}
.eventsgrid>.time {
    grid-area: rightr2;
    text-align: right;
}

.eventsgrid>.delete-button>button{
    box-shadow: none !important;
    color: black;
}
.eventsgrid>.description {
    grid-area: leftr2;
}
.eventsgrid>.reminder {
    grid-area: bt2;
}

.eventsgrid .activeCheck{
    height: 25px;
    margin-left: -5px;
}